@{
    ViewBag.Title = "Ana Sayfa";
}

    <div class="jumbotron">
        <h1>http://revzenkitap.com</h1>
        <p class="lead">Sitemiz Yapım Aşamasındadır.</p>
        <p><a href="https://www.mikrokitap.com.tr/" class="btn btn-primary btn-lg">Kitaplarımızı https://www.mikrokitap.com.tr/ adresinde bulabilirsiniz</a></p>
        Ekip Dağıtım Api Adres:
        http://revzenkitap.com/ekipdagitim/ekipdagitim.xml
    </div>
